{% extends "_base.html" %}

{% from "_form.html" import render_form %}

{% block page_title %}Documentation{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Documentation</h1>
                    <p>Endpoints: {{ endpoints|length }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    {% if endpoints|length > 0 %}
                        {% for endpoint, endpoint_values in endpoints|dictsort %}

                            {% if endpoint_values['short_description'] %}
                                <p>
                                    <b>'{{ endpoint }}'</b>: {{ endpoint_values['short_description'] }}
                                </p>
                            {% else %}
                                <b>'{{ endpoint }}'</b>
                            {% endif %}

                            {% if endpoint_values['long_description'] %}
                                <p>{{ endpoint_values['long_description'] }}</p>
                            {% endif %}

                            {% if endpoint_values['methods'] %}
                                <p>Methods: {{ endpoint_values['methods'] }}</p>
                            {% endif %}

                            {% if endpoint_values['params'] %}
                                <p>Params:</p>
                                <ul>
                                {% for param in endpoint_values['params'] %}
                                    <li>{{ param['name'] }}: {{ param['doc'] }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                            {% if endpoint_values['returns'] %}
                                <p>Returns: {{ endpoint_values['returns'] }}</p>
                            {% endif %}
                            <hr>
                        {% endfor %}
                    {% else %}
                        None
                    {% endif %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}