{% extends "_base.html" %}

{% from "_form.html" import render_form %}

{% block page_title %}{{ node.ip }}:{{ node.port }} - {{ node.key }}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ node.ip }}:{{ node.port }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-left">
                    <a class="btn btn-primary" href="http://{{ node.predecessor.ip }}:{{ node.predecessor.port }}">predecessor</a>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-primary" href="http://{{ node.successor.ip }}:{{ node.successor.port }}">successor</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p>Key: {{ node.key }}</p>
                    <p>successor: {{ node.successor.ip }}:{{ node.successor.port }}, key: {{ node.successor.key }}</p>
                    <p>predecessor:
                        {% if node.predecessor %}
                            {{ node.predecessor.ip }}:{{ node.predecessor.port }}, key: {{ node.predecessor.key }}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p>Successor list:</p>
                    {% if node.successor_list|length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Port</th>
                                    <th>Key</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for succ in node.successor_list %}
                                    <tr>
                                        <td>{{ succ.ip }}</td>
                                        <td>{{ succ.port }}</td>
                                        <td>{{ succ.key }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        EMPTY
                    {% endif %}
                    <p>Finger table</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Finger-key</th>
                                <th>IP</th>
                                <th>Port</th>
                                <th>Key</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finger in node.finger_table.fingers %}
                                <tr>
                                    <td>{{ node.finger_table.keys[loop.index0] }}</td>
                                    <td>{{ finger.ip }}</td>
                                    <td>{{ finger.port }}</td>
                                    <td>{{ finger.key }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <p>Photons:</p>
                    {% if node.photons|length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Key</th>
                                    <th>Light value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for photon in node.photons %}
                                    <tr>
                                        <td>{{ photon.photon_id }}</td>
                                        <td>{{ photon.key }}</td>
                                        <td>{{ photon.get_light_value() }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        EMPTY
                    {% endif %}
                    {{ render_form(url_for('request_add_photon'), add_form, legend='Add Photon') }}
                    {{ render_form(url_for('search'), search_form, legend='Search') }}
                    {{ render_form(url_for('join'), join_form, legend='Join peer') }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}